.wrapperMovie{
    padding: 40px 20px;
    animation: animateMovieInfo 1s;
}
.contentMovie{

    display: flex;
    max-width: var(--maxWidth);
    margin: 0 auto;
    background: rgb(0,0,0,0.7);
    border-radius: 20px;

}
.textMovie{
    width: 100%;
    padding: 20px 40px;
    color: var(--white);
    overflow:hidden;
}

.rating-directors {
    display: flex;
    justify-content: flex-start;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: #fff;
    color: #000;
    font-weight: 800;
    border-radius: 50%;
}

.director {
    margin: 0 0 0 40px;
}

.director p {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .contentMovie{
        display: block;
        max-height: none;
    }

    .textMovie h1{
        font-size: var(--fontBig);
    }
}

@keyframes animateMovieInfo {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
    
}